@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: rgb(26, 35, 57);
  --dark-bg-color: rgb(16, 25, 41);
  --card-border: rgb(12, 12, 12);
  --primary-color: blue;
  --secondary-color: orange;
  --bg-surface-odd: rgb(33 44 71);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-width: fit-content;
  scroll-behavior: auto;
}

body {
  flex-direction: column;
  background-color: rgb(26, 35, 57);
  font-family: inter;
  color: white;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100vw;
  min-width: fit-content;
  scroll-behavior: auto;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

#nprogress .spinner-icon {
  width: 18px !important;
  height: 18px !important;

  border-left-color: var(--primary-color) !important;
  border-top-color: var(--primary-color) !important;

  border-bottom-color: var(--secondary-color) !important;
  border-right-color: var(--secondary-color) !important;
}
